<h1>Welcome to Wordset!</h1>

<p>
  Hey, we're so glad to have you join us here at Wordset.
  We're excited about what we can do with langauge, but we're
  even more excited about what we can all do *together*.
</p>

<p>Make sure to checkout our
   <a href="<%= root_url %>info/get-started">Getting Started</a> documentation!
   It's the easiest way to make sure you have a positive first experience.
</p>

<p>
  Again, welcome!
</p>

<p>
  Love and Language,<br/>
  Hampton and Michael (co-founders)
</p>
