<h1>WHO GOT A BADGE? YOU DID!</h1>

<p>
  You seem to be unstoppable these days! You got *another* badge.
</p>

<h3><%= @badge.full_name %></h3>

<img src=<%= ui_link("assets/images/badges/" + @badge.image) %> style="border-radius: 13px; box-shadow: 0px 0px 50px #daebeb; display: block; margin: auto; width: 200px;"/>

<p>You got it <%= @badge.description.downcase %></p>

<p>Our little <%= @user.username %> is growing up so fast... it seems like just
yesterday you signed up.</p>
