<h1>YOU DID IT! ZOMG!</h1>

<p>
  We are so excited to tell you that you're trust
  level on the site been upped! How did you do it, by
  being a great, friendly, and helpful contributor to the site.
</p>

<p>Oh man, we're so proud that you're now a...</p>

<h3><%= @activity.new_level %></h3>

<p>
  Heck yes, now every proposal you vote on is worth <strong><%= @user.vote_value %></strong> votes now!
</p>

<p>Our little <%= @user.username %> is growing up so fast...</p>
