<h1>Oh noes!</h1>

<p>
  Unfortunately, your proposal was voted down. This can happen for many reasons, but usually
  our other collaborators will have sent comments along before hand to help you get the proposal
  ready for prime time. Seems like this time you didn't get there in time to fix it up.
</p>
<p>
  Don't feel too down, you can always re-submit, but make sure to heed the advice left
  by your fellow contributors.
</p>
<p><%= link_to "Checkout The Feedback", ui_link("proposal/#{@proposal.id}") %></p>
