<h1>YEEEEHAW!</h1>

<p>Congrats are in order, your proposal for <%= @word_name %> was accepted and you have <%= @proposal.votes.last.user.username %> to thank!</p>

<p><%= link_to "Checkout the voting!", ui_link("proposal/#{@proposal.id}") %></p>
