.new-quiz, .edit-quiz {
  fieldset {
    border: 1px solid $gray;
    margin-bottom: 30px;
    padding-top: 20px;
    position: relative;
  }


  fieldset > fieldset {
    border: none;
    padding: 0px;
    .remove_nested_fields_link {
      top: 28px;
      right: 7px;
    }
    input {
      margin-bottom: 0px;
      padding-right: 36px;

    }
  }

  img {
    display: block;
    margin: auto;
  }

  #quiz_instructions {
    height: 200px;
  }

  .point-allocation {
    margin-top: 5px;
  }

  .point-selector {
    margin-bottom: 2px;
    padding: 2px 4px;
    &:nth-child(even) {
      background: #F9F9F9;
    }
    label {
      display: inline-block;
      width: 33%;
    }
  }

  .remove_nested_fields_link {
    @include transition;
    background: $gray;
    color: $white;
    display: inline-block;
    font-weight: 600;
    height: 22px;
    width: 22px;
    position: absolute;
      top: 0px;
      right: 0px;
    text-decoration: none;
    text-align: center;
    &:hover {
      background: $red;
    }
  }

  .add_nested_fields_link {
    @include button($blue);
    display: block;
    margin-top: 10px;
    max-width: 120px;
    text-align: center;
  }
}
