@import "vars";

body {
  color: $black;
  font-family: "Avenir Next", sans-serif;
  margin: 0px;
}

a {
  @include transition;
  color: $blue;
  &:hover {
    color: $aqua;
  }
  &:visited {
    color: $navy;
  }
}

h1 {
  font-weight: 300;
}


input, textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.content {
  padding: 10px 50px;
  @include media-max-width($break) {
    padding: 10px;
  }
}

.notice {
  background: $olive;
  color: $white;
  padding: 5px 10px;
  text-align: center;
}

@import "header";
@import "dashboard";
@import "form";
@import "posts-index";
@import "post-edit";
@import "quiz-edit";
