@import "vars";

body {
  color: $black;
  font-family: "Avenir Next", sans-serif;
}

a {
  color: $blue;
  &:visited {
    color: $navy;
  }
}

h1 {
  font-weight: 300;
}

@import "dashboard";
@import "posts-index";
@import "post-edit";
