body {
  color: #333;
  font-family: "Avenir Next", sans-serif;
}


h1 {
  font-weight: 300;
}

.stat {
  padding: 10px;
  &:nth-child(odd) {
    background: #F9F9F9;
  }
  &.head {
    border-bottom: 1px solid #CCC;
  }
  .name, .number, .previous {
    display: inline-block;
  }
  .name {
    margin-right: 10px;
    min-width: 370px;
  }
  .number, .previous {
    min-width: 100px;
  }
  .previous {
    color: #888;
  }

}
