%h1 Blog Posts

%a{:href => new_admin_post_path(), :class => "new"}
  .plus +
  New Post

%section.posts
  - @posts.each do |post|
    %div[post]
      .title= link_to post.title, ui_link("/post/" + post.id)
      .state= post.state
      .actions
        = link_to "Edit", edit_admin_post_path(post)
        - if post.draft?
          = link_to "Publish", publish_admin_post_path(post), method: :post
